In [1]:
import pandas as pd

In [2]:
# Importing the GME Stock Prices

GME_filepath = "GME.csv"

gme_df = pd.read_csv(GME_filepath)

gme_df.head()

         Date       Open       High    Low      Close  Adj Close    Volume
0  2021-01-04  19.000000  19.100000  17.15  17.250000  17.250000  10022500
1  2021-01-05  17.350000  18.080000  17.23  17.370001  17.370001   4961500
2  2021-01-06  17.340000  18.980000  17.33  18.360001  18.360001   6056200
3  2021-01-07  18.469999  19.450001  18.02  18.080000  18.080000   6129300
4  2021-01-08  18.180000  18.299999  17.08  17.690001  17.690001   6482000

In [3]:
reddit_GME_filepath = "submissions_reddit.csv"
reddit_df = pd.read_csv(reddit_GME_filepath)
reddit_df.head()

,id,author,created,retrieved,edited,pinned,archived,locked,removed,deleted,...,link_flair_text,upvote_ratio,score,gilded,total_awards_received,num_comments,num_crossposts,selftext,thumbnail,shortlink
0,ko4pii,[deleted],2021-01-01 04:08:51,2021-02-28 16:51:20,1970-01-01 00:00:00,0,0,0,1,1,...,None,1.00,10,0,0,0,0,[deleted],default,https://redd.it/ko4pii
1,kqfajb,TitsDownOnly,2021-01-04 19:02:26,2021-02-28 16:51:20,1970-01-01 00:00:00,0,0,0,0,0,...,None,0.59,5,0,0,6,0,After watching this I took a position RIGHT AW...,self,https://redd.it/kqfajb
2,kqjh2t,[deleted],2021-01-04 22:17:23,2021-02-28 16:51:20,1970-01-01 00:00:00,0,0,0,1,1,...,None,0.93,13,0,0,1,0,[deleted],default,https://redd.it/kqjh2t
3,kqvp7l,TitsDownOnly,2021-01-05 10:19:59,2021-02-28 16:51:20,1970-01-01 00:00:00,0,0,0,0,0,...,None,0.50,0,0,0,5,0,This guy explained exactly how to take a posit...,self,https://redd.it/kqvp7l
4,krcwch,[deleted],2021-01-06 01:19:17,2021-02-28 16:51:20,1970-01-01 00:00:00,0,0,0,1,1,...,None,0.97,31,0,1,4,0,[deleted],default,https://redd.it/krcwch

In [4]:
reddit_df_cleaned = reddit_df[["id","author","created","score"]]
reddit_df_cleaned.sort_values(by="score", ascending=False)

           id              author              created  score
43136  lthi3p              bEAc0n  2021-02-27 05:48:29  59746
71387  m243vj     ErraticPeak7598  2021-03-10 18:05:33  33679
47020  lvgdwx   DangerStranger138  2021-03-01 18:25:07  26515
99260  m74e3g              Pesa2w  2021-03-17 16:32:47  24225
36325  ls830a         HeyItsPixeL  2021-02-25 14:45:26  23329
...       ...                 ...                  ...    ...
79262  m33p7o       Ugandan_Karen  2021-03-11 23:24:39      0
79269  m33qr4       DjnksDynamics  2021-03-11 23:26:47      0
86537  m4thms  DevelopmentOwn7475  2021-03-14 11:21:24      0
28929  lqq0ga           [deleted]  2021-02-23 18:57:32      0
96142  m6h5ru           [deleted]  2021-03-16 19:26:54      0

[103045 rows x 4 columns]

In [5]:
max(reddit_df_cleaned["created"])

'2021-03-18 17:41:00'

In [6]:
min(reddit_df_cleaned["created"])

'2021-01-01 04:08:51'

In [8]:
reddit_df_cleaned.to_csv('reddit_data_cleaned.csv',index=True)